.jumbotron { background-color: #ffffff; margin-bottom: 0rem; }
.btn-primary { color: #000; background-color: #ffffff; border-color: #ffffff; }
.nav-item { padding-right:5px;}
kbd { border-radius: 5px 5px 0px 0px; }
.form-control { border-radius: 0px 5px 5px 0px; }
.btn-dark { border-radius: 0px 0px 5px 5px; }