.text-primary {
  color: #000000 !important;
}

.btn-light {
  color: #ffffff;
  background-color: #000000;
  border-color: #f9fafb;
}

.btn-light:hover {
  color: #ffffff;
  background-color: #000000;
  border-color: #f9fafb;
}

.btn-check:checked + .btn-light, .btn-check:active + .btn-light, .btn-light:active, .btn-light.active, .show > .btn-light.dropdown-toggle {
  color: #ffffff;
  background-color: #000000;
  border-color: #ffffff;
}

.ref-button {
  background: black !important;
}

